@model PrulariaAankoopData.Models.Actiecode

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actiecode</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeldigVanDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeldigVanDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeldigTotDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeldigTotDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEenmalig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEenmalig)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ActiecodeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
