@model ActiecodeWijzigenViewModel;

@{
    ViewData["Title"] = "Edit Actiecode";
}

<div class="container mt-4">
    <h1 class="mb-3">Wijzig de Actiecode</h1>
    <hr />

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Naam" class="form-label fw-bold">Naam: (niet wijzigen)</label>
                    <input asp-for="Naam" class="form-control inputveldenhuiskleur" readonly style="color: #8a8787" />
                    <span asp-validation-for="Naam" class="text-danger"></span>
                </div>
                <br />
                @if (@Model.GeldigVanDatum < DateTime.Today)
                {
                    <div class="form-group">
                        <label asp-for="GeldigVanDatum" class="form-label fw-bold">Geldig Van (niet wijzigen)</label>
                        <input asp-for="GeldigVanDatum" class="form-control inputveldenhuiskleur"
                               style="color: #8a8787"
                            type="date" value="@Model.GeldigVanDatum.ToString("yyyy-MM-dd")" readonly/>
                    </div>
                }
                else {
                    <div class="form-group">
                        <label asp-for="GeldigVanDatum" class="form-label fw-bold">Geldig Van</label>
                        <input asp-for="GeldigVanDatum" class="form-control inputveldenhuiskleur"
                               type="date" value="@Model.GeldigVanDatum.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="GeldigVanDatum" class="text-danger"></span>
                    </div>
                }
                <br />
                <div class="form-group">
                    <label asp-for="GeldigTotDatum" class="form-label fw-bold">Geldig Tot</label>
                    <input asp-for="GeldigTotDatum" class="form-control inputveldenhuiskleur" 
                        type="date" value="@Model.GeldigTotDatum.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="GeldigTotDatum" class="text-danger"></span>
                </div>
                <br />
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" asp-for="IsEenmalig" />
                    <label class="form-check-label fw-bold">Eenmalig</label>
                </div>
                <br />
                <p style="color: darkgreen">@ViewBag.bevestiging</p>
                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-primary huiskleur">Opslaan</button>
                    <a asp-action="Index" class="btn btn-secondary huiskleur">Terug</a>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

