@model IEnumerable<PrulariaAankoopData.Models.Actiecode>

@{
    ViewData["Title"] = "Actiecodes";
}

<h1>Actiecodes</h1>

<p>
    <a asp-action="Create" class="btn huiskleur">Toevoegen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeldigVanDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeldigTotDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEenmalig)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeldigVanDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeldigTotDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEenmalig)
            </td>
            <td class="action-buttons">
                <a asp-action="Edit" asp-route-id="@item.ActiecodeId" title="Bewerken"><button class="btn btn-icon btn-edit"><i class="bi bi-pencil"></i></button></a>
                <a asp-action="Details" asp-route-id="@item.ActiecodeId" title="Details bekijken"><button class="btn btn-icon btn-details"><i class="bi bi-eye"></i></button></a>
            </td>

        </tr>
}
    </tbody>
</table>
