@model PrulariaAankoopUI.Models.LeverancierViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Leverancier: @Model.Naam</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">BTW-nummer</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.BtwNummer)</dd>

        <dt class="col-sm-2">Adres</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.VolledigAdres)</dd>

        <dt class="col-sm-2">Contactpersoon</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoornaamContactpersoon)
            @Html.DisplayFor(model => model.FamilienaamContactpersoon)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.LeveranciersId" class="btn huiskleur">Bewerken</a>
    <a asp-action="Index" class="btn btn-terug">Terug</a>
</div>

<div style="margin-bottom: 50px;"></div>
