@model PrulariaAankoopData.Models.Leverancier

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Leverancier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BtwNummer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BtwNummer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Straat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Straat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HuisNummer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HuisNummer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilienaamContactpersoon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilienaamContactpersoon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoornaamContactpersoon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoornaamContactpersoon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plaats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plaats.Naam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LeveranciersId" class="btn huiskleur">Edit</a> 
    <a asp-action="Index"  class="btn btn-terug">Back to List</a>
</div>
<div style="margin-bottom: 50px;"></div>