@model IEnumerable<PrulariaAankoopUI.Models.LeverancierViewModel>

@{
    ViewData["Title"] = "Leveranciers";
}

<h1>Leveranciers</h1>

<p>
    <a asp-action="Create">Nieuwe leverancier toevoegen</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Postcode</th>
            <th>Plaats</th>
            <th>Contactpersoon</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Naam)</td>
                <td>@Html.DisplayFor(modelItem => item.Postcode)</td>
                <td>@Html.DisplayFor(modelItem => item.Plaats.Naam)</td>
                <td>@Html.DisplayFor(modelItem => item.FamilienaamContactpersoon) @Html.DisplayFor(modelItem => item.VoornaamContactpersoon)</td>
                <td class="action-buttons">
                    <a asp-action="Edit" asp-route-id="@item.LeveranciersId" title="Bewerken">
                        <button class="btn btn-icon btn-edit"><i class="bi bi-pencil"></i></button>
                    </a>
                   
                   
                </td>
            </tr>
        }
    </tbody>
</table>
