@model IEnumerable<PrulariaAankoopUI.Models.LeverancierViewModel>

@{
    ViewData["Title"] = "Leveranciers";
}

<h1>Leveranciers</h1>

<p>
    <a asp-action="Create" class="btn huiskleur">Toevoegen</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Naam</th>
            <th style="width: 120px">Postcode</th>
            <th>Plaats</th>
            <th>Contactpersoon</th>
            <th style="text-align: center">Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Naam)</td>
                <td>@Html.DisplayFor(modelItem => item.Postcode)</td>
                <td>@Html.DisplayFor(modelItem => item.Plaats.Naam)</td>
                <td>@Html.DisplayFor(modelItem => item.FamilienaamContactpersoon) @Html.DisplayFor(modelItem => item.VoornaamContactpersoon)</td>
                <td class="action-buttons">
                    <a asp-action="Edit" asp-route-id="@item.LeveranciersId" title="Bewerken"><button class="btn btn-icon btn-edit"><i class="bi bi-pencil"></i></button></a>
                    <a asp-action="Details" asp-route-id="@item.LeveranciersId" title="Details bekijken"><button class="btn btn-icon btn-details"><i class="bi bi-eye"></i></button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
