@model PrulariaAankoopData.Models.ArtikelViewModel

@{
    ViewData["Title"] = "Details";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h1>Details</h1>

<div>
    <h4>Artikel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Ean)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Ean)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Naam)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Naam)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Beschrijving)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Beschrijving)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Prijs)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Prijs)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.GewichtInGram)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.GewichtInGram)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Bestelpeil)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Bestelpeil)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Voorraad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Voorraad)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.MinimumVoorraad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.MinimumVoorraad)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.MaximumVoorraad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.MaximumVoorraad)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Levertijd)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Levertijd)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.AantalBesteldLeverancier)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.AantalBesteldLeverancier)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.MaxAantalInMagazijnPlaats)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.MaxAantalInMagazijnPlaats)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Leverancier)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Leverancier.Naam)
        </dd>
        <dt class="col-sm-3">
            Categorie(ën)
        </dt>
        <dd class="col-sm-9">
            @{
                for (int i = 0; i < Model.Categorieën.Count; i++)
                {
                    if (Model.Categorieën[i].HoofdCategorieId == null || i == 0)
                    {
                        @Model.Categorieën[i].Naam
                        <br />
                    }
                    else
                    {
                        <div>
                            --@Model.Categorieën[i].Naam
                            <br />
                        </div>
                    }
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Artikel.ArtikelId" class="btn huiskleur">Wijzigen</a> 
    <a asp-action="Index"  class="btn btn-terug">Terug</a>
</div>

