@model PrulariaAankoopData.Models.ArtikelViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artikel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Ean)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Ean)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Naam)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Naam)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Beschrijving)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Beschrijving)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Prijs)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Prijs)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.GewichtInGram)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.GewichtInGram)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Bestelpeil)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Bestelpeil)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Voorraad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Voorraad)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.MinimumVoorraad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.MinimumVoorraad)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.MaximumVoorraad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.MaximumVoorraad)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Levertijd)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Levertijd)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.AantalBesteldLeverancier)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.AantalBesteldLeverancier)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.MaxAantalInMagazijnPlaats)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.MaxAantalInMagazijnPlaats)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Leverancier)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Leverancier.Naam)
        </dd>
        <dt class="col-sm-3">
            Hoofdcategorie
        </dt>
        <dd class="col-sm-9">

        </dd>
        <dt class="col-sm-3">
            Subcategorieën
        </dt>
        <dd class="col-sm-9">
            @foreach (var categorie in Model.Artikel.Categorieën)
            {
                @categorie.Naam
                <br />
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Categorieën)
        </dt>
        <dd class="col-sm-9">
            @foreach (var categorie in Model.Categorieën)
            {
                @categorie.Naam<br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArtikelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
