@model PrulariaAankoopData.Models.ArtikelViewModel

@{
    ViewData["Title"] = "Details";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h1>Details</h1>

<div>
    <h4>Artikel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Ean)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Ean)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Naam)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Naam)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Beschrijving)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Beschrijving)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Prijs)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Prijs)
        </dd>
        <dt class="col-sm-3">
            Gewicht in gram
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.GewichtInGram)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Bestelpeil)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Bestelpeil)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Voorraad)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Voorraad)
        </dd>
        <dt class="col-sm-3">
            Minimum voorraad
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.MinimumVoorraad)
        </dd>
        <dt class="col-sm-3">
            Maximum voorraad
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.MaximumVoorraad)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Levertijd)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Levertijd)
        </dd>
        <dt class="col-sm-3">
            Aantal besteld bij leverancier
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.AantalBesteldLeverancier)
        </dd>
        <dt class="col-sm-3">
            Max aantal in magazijn plaats
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.MaxAantalInMagazijnPlaats)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Artikel.Leverancier)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Artikel.Leverancier.Naam)
        </dd>
        <dt class="col-sm-3">
            Categorie(ën)
        </dt>
        <dd class="col-sm-9">
            @{
                for (int i = 0; i < Model.Artikel.Categorieën.Count; i++)
                {
                    if (Model.Artikel.Categorieën[i].HoofdCategorieId == null || i == 0)
                    {
                        <div>
                            @Model.Artikel.Categorieën[i].HoofdCategorie.Naam
                            <br />
                            --@Model.Artikel.Categorieën[i].Naam
                            <br />
                        </div>
                    }
                    else
                    {
                        <div>
                            --@Model.Artikel.Categorieën[i].HoofdCategorie.Naam
                            <br />
                            ----@Model.Artikel.Categorieën[i].Naam
                            <br />
                        </div>
                    }
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Artikel.ArtikelId" class="btn huiskleur">Wijzigen</a>
    <a asp-action="Index" class="btn btn-terug">Terug</a>
</div>






<form asp-action="BevestigCategorieToevoegen" method="get">
    <input type="hidden" name="artikelId" value="@Model.Artikel.ArtikelId" />
    <div class="form-group">
        <label asp-for="CategorieId" class="control-label">Categorie toevoegen:</label>
        <select asp-for="CategorieId" class="form-control" asp-items="ViewBag.CategorieId"><option value="">-- Selecteer een categorie --</option></select>
        <span asp-validation-for="CategorieId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary huiskleur">Categorie Toevoegen aan Artikel</button>
</form>



