@using PrulariaAankoopData.Models
@model ArtikelViewModel

@{
    ViewData["Title"] = "Artikelen";
}

<h1>Artikelen</h1>

<p>
    <a asp-action="Create">Voeg nieuw artikel toe</a>
</p>
<form asp-action="Filter">
    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Categorie</label>
            <select asp-for="@Model.CategorieId" class="form-control" asp-items="@(new SelectList(Model.Categorieën, "CategorieId", "Naam"))" style="width:auto">
                <option value="">--Alle Categorieën--</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="control-label">Actief/Non-Actief</label>
            <select asp-for="@Model.ActiefStatus" class="form-control" style="width:155px">
                <option value=>--Actief/Non-Actief--</option>
                <option value="Actief">Actief</option>
                <option value="NonActief">Non-Actief</option>
            </select>
        </div>
        <div class="col-md-2">
            <br />
            <input type="submit" value="Filteren" class="btn btn-primary huiskleur" />
        </div>
    </div>
    <br />
    <!--
    <label for="Alle">Alle</label>
    <input asp-for="@Model.ActiefStatus" type="radio" name="filter" value="Alle" id="Alle" checked/>
    <label for="Actief">Actief</label>
    <input asp-for="@Model.ActiefStatus" type="radio" name="filter" value="Actief" id="Actief" />
    <label for="NonActief">Non-Actief</label>
    <input asp-for="@Model.ActiefStatus" type="radio" name="filter" value="NonActief" id="NonActief" />
    -->
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ean)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voorraad)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model.Artikelen.Any())
    {
        <tbody>
            @foreach (var item in Model.Artikelen)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ean)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prijs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Voorraad)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ArtikelId" class="btn btn-secondary huiskleur">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ArtikelId" class="btn btn-secondary huiskleur">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ArtikelId" class="btn btn-secondary huiskleur">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tbody>
            <tr>
                <td colspan="14"><em>Geen artikelen gevonden.</em></td>
            </tr>
        </tbody>
    }
</table>
