@model PrulariaAankoopUI.Models.CategorieCategorieViewModel

@{
    ViewData["Title"] = "Bevestig Categorie Verwijderen";
}

<h2>Bevestig Verwijderen</h2>


<p>Wil je de categorie <strong>@Model.GekozenCategorie.Naam</strong> verwijderen als Subcategorie van <strong>@Model.Categorie.Naam</strong>?</p>

<form asp-action="CategorieVerwijderenVanCategorie" method="post">
    <input type="hidden" name="CategorieId" value="@Model.Categorie.CategorieId" />
    <input type="hidden" name="gekozenCategorieId" value="@Model.GekozenCategorie.CategorieId" />

    <button type="submit" class="btn huiskleur">Bevestigen</button>
    <a asp-action="Details" asp-route-id="@Model.Categorie.CategorieId" class="btn btn-secondary">Annuleren</a>
</form> 