@model PrulariaAankoopData.Models.Categorie

@{
    ViewData["Title"] = "Delete";
}

<h2>Verwijder Categorie</h2>
<p>Weet u zeker dat u de categorie "<strong>@Model.Naam</strong>" wilt verwijderen?</p>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoofdCategorie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoofdCategorie.Naam)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CategorieId" />
        <button type="submit" value="Delete" class="btn btn-danger">Ja, verwijder</button>
        <a asp-action="Index" class="btn btn-secondary huiskleur">Annuleren</a>
    </form>
</div>
<div style="margin-bottom: 50px;"></div>